


/* ----------- Fonts -----------*/
/*
@font-face
{
	font-family:mavenRegular;
	src:url(../fonts/MavenProRegular.otf) format("opentype");
}

@font-face
{
	font-family:mavenBold;
	src:url(../fonts/MavenProBold.otf) format("opentype");
}
*/

a, a:link, a:visited, a:hover, a:active   
{
    color:#95a7bc;
    text-decoration: underline;
}



body, html
{
	
	margin: 0;
	padding: 0;
	height:100%;
	
	font-family:Helvetica, Arial, sans-serif;
	color:#000000;
	
	background:#ffffff;
	
}

#stage
{
	width:100%;
	height:100%;
	max-width: 768px;
	max-height: 768px;
	background-color: #66cc66;
	padding:0px;
	margin:0px;
	overflow: hidden;

}

#scenes
{
	list-style:none;
	display:inline-block;
	background-color: grey;
	/*
	width:300%;
	height:300%;
	max-width: 2304px;
	max-height: 2304px;
	*/
	padding:0px;
	margin:0px;

	-webkit-transform-style:preserve-3d;
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
  	-webkit-transition:-webkit-transform 600ms ease-out;


  	-ms-transform-style:preserve-3d;
  	-ms-backface-visibility:hidden;
  	-ms-perspective:1000;
  	-ms-transition:-ms-transform 600ms ease-out;
  

  	transform-style:preserve-3d;
  	backface-visibility:hidden;
  	perspective:1000;
  	transition:transform 600ms ease-out;
}

.scene
{

	/*width:100%;
	height:100%;*/
	max-width: 768px;
	max-height: 768px;

	padding: 0px;
	margin:0px;
	float:left;
	position: relative;
}

.scene_content
{
	width:100%;
	height:100%;
	max-width: 768px;
	max-height: 768px;
	padding: 0px;
	margin:0px;
}

.scene_content img
{
	/* this may need to come out once we switch imgs depending on screen size*/
	width:100%;
	height:100%;
	padding: 0px;
	margin:0px;
}


.question
{
	position: absolute;
	color:white;
	background-color: rgba(0, 0, 0, 0.5);
	max-width: 615px;
	max-height: 615px;
	width:90%;
	height:90%;
	margin:5%;
	
	
}

.answer
{
	color: black;
	background-color: white;
	margin:10px;
	cursor: pointer;
}

/*small width*/
@media only screen and (min-width:769px) and (max-width:875px)
{
	
}

/*mobile styles*/
@media only screen and (max-width:767px)
{
	
	
	
}