


/* ----------- Fonts -----------*/

@font-face
{
	font-family:Equestria;
	src:url(../fonts/Equestria.otf) format("opentype");
}

@font-face
{
	font-family:PonyFont;
	src:url(../fonts/ponyfont.ttf) format("opentype");
}



a, a:link, a:visited, a:hover, a:active   
{
    color:#95a7bc;
    text-decoration: underline;
}



body, html
{
	
	margin: 0;
	padding: 0;
	height:100%;
	
	font-family:PonyFont, Equestria, Helvetica, Arial, sans-serif;
	color:#000000;
	
	background:#ffffff;
	
}

#stage
{
	width:100%;
	height:100%;
	max-width: 768px;
	max-height: 768px;
	background-color: #000000;
	padding:0px;
	margin:0px;
	overflow: hidden;

}

#scenes
{
	list-style:none;
	display:inline-block;
	background-color: grey;
	/*
	width:300%;
	height:300%;
	max-width: 2304px;
	max-height: 2304px;
	*/
	padding:0px;
	margin:0px;

	-webkit-transform-style:preserve-3d;
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
  	/*-webkit-transition:-webkit-transform 600ms ease-out;*/


  	-ms-transform-style:preserve-3d;
  	-ms-backface-visibility:hidden;
  	-ms-perspective:1000;
  	/*-ms-transition:-ms-transform 600ms ease-out;*/
  

  	transform-style:preserve-3d;
  	backface-visibility:hidden;
  	perspective:1000;
  	/*transition:transform 600ms ease-out;*/
}

.scene
{

	/*width:100%;
	height:100%;*/
	max-width: 768px;
	max-height: 768px;

	padding: 0px;
	margin:0px;
	float:left;
	position: relative;
}

.scene_content
{
	width:100%;
	height:100%;
	max-width: 768px;
	max-height: 768px;
	padding: 0px;
	margin:0px;
	overflow: hidden;
}

.scene_content img
{
	/* this may need to come out once we switch imgs depending on screen size*/
	min-width: 400px; /* this means the image will be sized down for smaller screens, but not completely */
	width:100%;
	height:100%;
	padding: 0px;
	margin:0px;

}

.close
{
	position: absolute;
	right:2%;
	width:40px;
	height:40px;
	color: white;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}
.close:after
{
	content: "X";
	display: block;
	position: relative;
	text-align: center;
	line-height: 44px;
    width: 100%;

}

.controls
{
	position: absolute;
	margin:3%;
	right:0px;
	width:90px;
	height:40px;
	color: white;
	background-color: rgba(65, 32, 108, 0.75);
	border-radius: 20px;
	padding: 5px;
}

.story_btn
{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: rgba(225, 135, 76, 0.75);;
	border-radius: 20px;
	margin-left: 5px;
}

.story_btn:after
{
	content: "☷";
	display: block;
	position: relative;
	text-align: center;
	line-height: 40px;
	font-size: 24px;
    width: 100%;

}

.choose_btn
{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: rgba(78, 32, 45, 0.75);
	border-radius: 20px;
}

.choose_btn:after
{
	content: "➜";
	display: block;
	position: relative;
	text-align: center;
	line-height: 40px;
	font-size: 24px;
    width: 100%;

}

.story
{
	position: absolute;
	color:white;
	background-color: rgba(0, 0, 0, 0.75);
	max-width: 691px;
	max-height: 691px;
	width:90%;
	height:90%;
	margin:3%;
	padding:2%;
	margin-right:1%; 
	margin-left: 1%;
	padding-left:4%;
	padding-right: 4%;
	border-radius: 25px;
	font-size: 22px;

	
	-webkit-transform-style:preserve-3d;
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
  	/*-webkit-transition:-webkit-transform 600ms ease-out;*/


  	-ms-transform-style:preserve-3d;
  	-ms-backface-visibility:hidden;
  	-ms-perspective:1000;
  	/*-ms-transition:-ms-transform 600ms ease-out;*/
  

  	transform-style:preserve-3d;
  	backface-visibility:hidden;
  	perspective:1000;
  	/*transition:transform 600ms ease-out;*/
}

.question
{
	position: absolute;
	color:white;
	background-color: rgba(0, 0, 0, 0.75);
	max-width: 691px;
	max-height: 691px;
	width:90%;
	height:90%;
	margin:3%;
	padding:2%;
	margin-right:1%; 
	margin-left: 1%;
	padding-left:4%;
	padding-right: 4%;
	border-radius: 25px;
	font-size: 22px;
	
	-webkit-transform-style:preserve-3d;
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
  	/*-webkit-transition:-webkit-transform 600ms ease-out;*/


  	-ms-transform-style:preserve-3d;
  	-ms-backface-visibility:hidden;
  	-ms-perspective:1000;
  	/*-ms-transition:-ms-transform 600ms ease-out;*/
  

  	transform-style:preserve-3d;
  	backface-visibility:hidden;
  	perspective:1000;
  	/*transition:transform 600ms ease-out;*/
}

.question ul
{
	list-style:none;
	margin:0px;
	margin-top: 5%;
	padding: 0px;
}
.answer
{
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	margin:10px;
	min-height: 20px;
	cursor: pointer;
	border-radius: 20px;
	padding:10px;
}

/*small width*/
@media only screen and (min-width:769px) and (max-width:875px)
{
	
}

/*mobile styles*/
@media only screen and (max-width:767px)
{
	
	
	
}